/* Post */

/* Card */
.card {
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
  
img.medium {
  max-width: 25rem;
  width: 100%;
}

  