* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
header {
  background-color: #0a3fff;
}

footer {
  background-color: #0a3fff;
  color: #fff;
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Vertical alignment because of flex. */
}

.row.center {
  justify-content: center; /* Horizontal alignment because of flex. */
}
